html,
body {
  margin: 0;
  font-family: "Outpact", sans-serif;
  padding: 0;
}
canvas {
  display: block;
  margin: 0 auto;
  touch-action: none; /* permite gestos táctiles */
  width: 100% !important;
  height: 100% !important;
}
